@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap");

.homepage-container {
    max-width: 875px;
    margin: auto;
    min-width: min-content;
    width: 100%;
}

.home-sidebar h3, p {
    padding-left: 20px;
    font-weight: 300;
}

.home-sidebar h2 {
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.home-sidebar p:hover {
    color: grey;
}

.home-sidebar p {
    margin-bottom: -10px;
}

.gridCol2 .home-sidebar {
    background-color: #393939;
}

.selected {
    color: grey;
}

.bannerImg {
    width: 100%;
    object-fit: cover;
}

.gameListing {
    min-width: min-content;
    max-width: 750px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.banner {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 10px;
    font-weight: 300;
}

.gridCol2 {
    display: grid;
    grid-template-columns: 200px 4fr;
}

.GameBarContainer:hover {
    background-color: darkgray;
}

.searchbar.home {
    margin-top: 40px;
}

.all-games-link:hover {
    color: #656565 !important;
}

.all-games-link {
    text-decoration: none;
    color: #B1B1B1 !important;
    padding-left: 660px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.all-games-link-top:hover {
    color: #656565 !important;
}

.all-games-link-top {
    text-decoration: none;
    color: #B1B1B1 !important;
    padding-left: 760px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}



