.account .submit-button {
    width: 12rem;
    background-color: #B52F2F;
    color: white;
    font-weight: 500;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.account .submit-button:hover {
    background-color: #a52b2b;
}

.account .box-title {
    align-self: baseline;
    font-weight: 200;
}

.account-button {
    width: 40%;
    padding: 12px;
    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}

.account-button:hover {
    background-color: #5e5e5e;
}